IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments : Consecutive
FixNamespaceComments: false
NamespaceIndentation: All #intend content of namespace

# AlignAfterOpenBracket: DontAlign
# BinPackParameters: false  # Each parameter on a new line.
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
# PenaltyBreakParameter: 1
PenaltyBreakBeforeFirstCallParameter: 1

InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true

IndentPPDirectives: BeforeHash

AlwaysBreakTemplateDeclarations  : Yes
AlignArrayOfStructures: Left
