.vscode

# Object files
*.o

# Don't ignore tests that need to check object files.
!tests/unit_tests/resources/project_08/easy-make-build/conf/*.o

# Executables
easy-make
easy-make-debug
test

# Build info
easy-make-build/**
